<a class="article__preview" routerLink="/{{element['type']}}/{{element['slug']}}">
  <div class="split row">
    <p class="title">{{element['title']}}</p>
    <p *ngIf="element['type']=='article'" class="type" style="background: #52e32e;">Статья</p>
    <p *ngIf="element['type']=='question'" class="type" style="background: #6495ed;">Вопрос</p>
    <p *ngIf="element['type']=='discussion'" class="type" style="background: #e65e19;">Обсуждение</p>
  </div>
  <div>
    <div *ngIf="element['raiting'] > 0" class="row top">
      <p class="subtitle">Рейтинг:</p>
      <p class="subtitle" style="color:#51df00;">{{element['raiting']}}</p>
      <img class="arrow" src="assets/green_arrow.svg" alt="">
    </div>

    <div *ngIf="element['raiting'] == 0" class="row">
      <p class="subtitle">Рейтинг: </p>
      <p class="subtitle" style="color:#b5b5b5;">{{element['raiting']}}</p>
    </div>

    <div *ngIf="element['raiting'] < 0" class="row">
      <p class="subtitle">Рейтинг: </p>
      <p class="subtitle" style="color:#e65e19;">{{element['raiting'] * -1}}</p>
      <img class="arrow" src="assets/red_arrow.svg" alt="">
    </div>

    <div class="row">
      <p class="subtitle">Автор: </p>
      <p class="subtitle author">{{element['author']}}</p>
    </div>

    <div class="row">
      <p class="subtitle">Обновлено: </p>
      <p class="subtitle time">{{element['updated_at']}}</p>
    </div>

  </div>

</a>
