<div class="content">
  <header>

    <div *ngIf="article['hidden']" class="error__note">
      <p class="text">Данная статья скрыта от обычных пользователей!</p>
    </div>

    <div class="info__container">
      <div class="row mr">
        <p class="subtitle">Автор: </p>
        <p class="subtitle author">{{article['author']}}</p>
      </div>

      <div *ngIf="article['raiting'] > 0" class="row mr">
        <p class="subtitle">Рейтинг:</p>
        <p class="subtitle raiting" style="color:#51df00;">{{article['raiting']}}</p>
        <img class="icon" src="assets/green_arrow.svg" alt="">
      </div>

      <div *ngIf="article['raiting'] == 0" class="row mr">
        <p class="subtitle">Рейтинг: </p>
        <p class="subtitle" style="color:#b5b5b5;">{{article['raiting']}}</p>
      </div>

      <div *ngIf="article['raiting'] < 0" class="row mr">
        <p class="subtitle">Рейтинг: </p>
        <p class="subtitle" style="color:#e65e19;">{{article['raiting'] * -1}}</p>
        <img class="icon" src="assets/red_arrow.svg" alt="">
      </div>

      <div class="row mr">
        <p class="subtitle" style="color:#b5b5b5;">{{article['views']}}</p>
        <img class="icon" src="assets/eye.svg" alt="">
      </div>

      <p class="type" style="background: #52e32e;">Статья</p>
    </div>

    <p class="title">{{article['title']}}</p>
    <div class="row">
      <p class="subtitle">Обновлено: </p>
      <p class="subtitle time">{{article['updated_at']}}</p>
    </div>
  </header>

  <hr>
  <div [innerHTML]="article_content" class="article__content">
  </div>

  <div class="row fw vm">
    <div class="info__container lower">
      <div class="row mr">
        <button (click)="rateUp()" class="rate__up icon" type="button" name="button"
        [ngStyle]="{'background': (article['rated'] == 'up') ? 'url(/assets/green_arrow.svg)' : 'url(/assets/gray_up_arrow.svg)'}"></button>
        <p *ngIf="article['raiting'] > 0" class="subtitle  raiting" style="color:#51df00;">{{article['raiting']}}</p>
        <p *ngIf="article['raiting'] == 0" class="subtitle raiting" style="color:#b5b5b5;">{{article['raiting']}}</p>
        <p *ngIf="article['raiting'] < 0" class="subtitle raiting" style="color:#e65e19;">{{article['raiting'] * -1}}</p>
        <button (click)="rateDown()" class="rate__down icon" type="button" name="button"
        [ngStyle]="{'background': (article['rated'] == 'down') ? 'url(/assets/red_arrow.svg)' : 'url(/assets/gray_down_arrow.svg)'}"></button>
      </div>

      <div class="row">
        <p class="subtitle" style="color:#b5b5b5;">{{article['views']}}</p>
        <img class="icon" src="assets/eye.svg" alt="">
      </div>
    </div>
  </div>

  <div *ngIf="online" class="row fw vm">
    <div class="">
      <p class="subtitle">Оставьте комментарий к статье: </p>
      <div class="comment__form">
        <div class="avatar__filed">
          <img class="avatar" src="{{user_picture}}" alt="">
          <p class="subtitle author">{{username}}</p>
        </div>
        <div class="delimiter"></div>
        <div class="text__filed">
          <textarea maxlength=1024 [(ngModel)]="userComment"></textarea>
          <button (click)="sendComment()" class="send__button" type="button" name="button">Отправить</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!online" class="note">
    <p class="text bm">Для комментирования необходимо быть авторизированным на сайте</p>
    <a routerLink="/autharization">
      <button mat-raised-button class="submit__button">Авторизация</button>
    </a>
  </div>

  <label class="vm">{{ article['commentsCount'] }} {{correctWordForm}}</label>

  <div *ngFor="let comment of article['comments']['data']" class="comment__form svm">
    <div class="avatar__filed">
      <img *ngIf="article['comments']['avatars'][comment['author']]" class="avatar" src="{{article['comments']['avatars'][comment['author']]}}" alt="">
      <img *ngIf="!article['comments']['avatars'][comment['author']]" class="avatar" src="assets/person.svg" alt="">
      <p class="subtitle author">{{comment['author']}}</p>
    </div>

    <div class="delimiter"></div>
    <div class="text__filed">
      <textarea value="{{comment['content']}}" class="disabled" readonly></textarea>
      <p class="time">{{comment['timestamp']}}</p>
    </div>
  </div>

</div>
