<div class="content">
  <p class="text">Информация об аккаунте</p>

  <div class="splitted__container">
    <div class="box">
      <div class="twin__line">
        <div class="line">
          <label>Логин</label>
          <input class="twin input__line" type="text" name="" value="{{data['username']}}" disabled>
        </div>

        <div class="line">
          <label>Имя</label>
          <input class="twin input__line" type="text" name="" value="{{data['name']}}" disabled>
        </div>
      </div>

      <div class="line">
        <label>Почта</label>
        <input class="input__line" type="email" name="" [(ngModel)]="email" >
      </div>

      <div class="line">
        <button mat-raised-button class="exit__button" >Выход</button>
      </div>

    </div>
    <div class="box">
      <div class="line">
        <label>Аватарка (.png формат)</label>
        <img class="profile__picture" src="{{data['avatar']}}" alt="">
        <input class="input__file" type="file" #Image accept="Image/*">
      </div>
    </div>
  </div>

</div>
