<div class="content">
  <label>Профиль</label>

  <div class="splitted__container">
    <div class="box vm">
      <div class="card">
        <p class="card__label">Общая информация</p>
        <div class="card__content">
          <div class="row">
            <p class="subtitle mr">Логин: </p>
            <p class="data">{{data['username']}}</p>
          </div>

          <div class="row">
            <p class="subtitle mr">Имя: </p>
            <p class="data">{{data['name']}}</p>
          </div>

          <div class="row">
            <p class="subtitle mr">Почта: </p>
            <p class="data">{{data['email']}}</p>
          </div>

          <div class="row">
            <p class="subtitle mr">Опыт: </p>
            <p class="data exp">{{data['exp']}} xp</p>
          </div>

          <div class="row">
            <p class="subtitle mr">Зарегистрирован: </p>
            <p class="data time">{{data['registered_at']}}</p>
          </div>

          <div class="row">
            <p class="subtitle mr">Статус аккаунта: </p>
            <p *ngIf="data['access'] == 0" class="subtitle status" style="background: gray;">Пользователь</p>
            <p *ngIf="data['access'] == 1" class="subtitle status" style="background: green">Модератор</p>
            <p *ngIf="data['access'] == 2" class="subtitle status" style="background: #7071ba">Админ</p>
            <p *ngIf="data['banned']" class="subtitle status" style="background: #e65e19;">Забанен</p>
          </div>
        </div>
      </div>

      <div class="card vm">
        <p class="card__label">Смена пароля</p>
        <div class="card__content">
          <div class="line">
            <p class="subtitle">Текущий пароль</p>
            <input (keydown.enter)="updatePassword()" class="input__line" type="password" name="" [(ngModel)]="current_password" >
          </div>
          <div class="line svm">
            <p class="subtitle">Новый пароль</p>
            <input (keydown.enter)="updatePassword()" class="input__line" type="password" name="" [(ngModel)]="new_password" >
          </div>
        </div>
      </div>

    <div class="row vm">
      <button mat-raised-button (click)="exit()" class="red__button mr" >Выход</button>
      <button mat-raised-button (click)="updatePassword()" class="white__button" [disabled]="!current_password || !new_password">Сменить пароль</button>
    </div>

    </div>

    <div class="box vm">
      <div class="line">
        <p class="subtitle">Аватарка</p>
        <img class="profile__picture" src="{{base64Image}}" alt="">
        <input class="input__file" type="file" #Image accept="Image/*" (change)="handleInputFile($event.target.files)">
      </div>
      <div class="line">
        <button mat-raised-button (click)="updateAvatar()" class="white__button" [disabled]="!changed">Сохранить</button>
        <button mat-raised-button (click)="deleteAvatar()" class="red__button svm" [disabled]="currentAvatar=='assets/person.svg'">Удалить</button>
      </div>

    </div>
  </div>

</div>
