.content {
  display: flex;
  flex-direction: column;
  height: 100%;

  align-items: flex-start;
}

label {
  margin: 1.5vh 0;
  color: white;
  font-size: 2.5rem;
  width: 100%;
}

label::after {
  display: block;
  content: "";
  background: #605c64;

  height: 4px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  margin: 0.35vh 0;
}

.subtitle {
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
  color: #e2e2e2;
  font-size: 1rem;
  margin-right: 5px;
  font-weight: 500;
}

.data {
  color: white;
  font-weight: 400;
}

.text {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 2.3rem;
  color: white;

  margin: 1.5vh 0;
}

.text::after {
  position: relative;
  display: block;
  content: "";
  margin-top: 3px;

  height: 2px;
  background: white;
}

.splitted__container {
  display: flex;
  flex-direction: row;

  align-items: flex-start;
  justify-content: flex-start;
}

.box {
  width: 32vw;
  margin: 0 5vw;
}

.profile__picture {
  width: 12vw;
  height: 12vw;

  margin: 1vh 1vw;
}

.twin__line {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.line {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin: 0.35vh 0;
}

.input__line {
  background: #e6f2f2;
  font-weight: 500;
  font-size: 1.1rem;
  border: 2px #002928 solid;
  border-radius: 5px;

  padding: 8px 15px;
  margin: 2px 0;

  -webkit-box-shadow: 3px 3px 7px 0px rgba(51,51,51,1);
  -moz-box-shadow: 3px 3px 7px 0px rgba(51,51,51,1);
  box-shadow: 3px 3px 7px 0px rgba(51,51,51,1);
}

.input__file {
  color: #daeaeb;

  font-size: 1.1rem;
  margin: 6px 0;
}

.twin {
  width: 85%;
}

button {
  width: 50%;
}

.exit {
  background-color: red;
  color: white;
}

.save {
  background-color: white;
  color: black;
}

.svm {
  margin-top: 1.5vh;
}

.vm {
  margin-top: 3vh;
}

.mr {
  margin-right: 1vw;
}

.time {
  color: #d7e16e;
}

.exp {
  color: #33caff;
}

.status {
  color: white;
  background: black;
  border-radius: 5px;
  padding: 0 5px;
  font-weight: 500;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: #605c64;
  padding: 10px;
  border-radius: 10px;
}

.card__label {
  color: white;
  font-size: 1.7rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;

  padding-left: 7px;
  border-left: solid white 7px;
}

.card__content {
  margin: 2vh 0;
  border-left: dotted 7px white;
  padding-left: 7px;
}
