<div class="content">
  <label>Публикация статьи</label>

  <div class="info__container">
    <p class="text">Обратите ваше внимание на то, что каждая статья перед публикацией проходит модерирование редакторами сайта. Просим вас избегать в содержании статьи рекламы и прочего сомнительного контента. <br><br>Если ваша статья будет опубликованна, вам начислят 15xp</p>
  </div>

  <div class="line">
    <p class="input_label">*Заголовок статьи</p>
    <input class="input__line" type="text" name="" [(ngModel)]="articleTitle" placeholder="">
  </div>

  <editor
  [(ngModel)] = "articleContent"
  class="vm"
  (onInit) = "onTinyMCEInit()"
  [init]="tinymceInit"
  ></editor>

  <button (click)="publicate()" mat-raised-button class="submit__button" >Опубликовать статью</button>
</div>
