.content {
  min-height: 85vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  color: white;
  font-size: 4rem;
  font-weight: 500;
}

@media (max-width: 840px) {
  .label {
    font-size: 2.2rem;
  }
}
