.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;
}

.auth__form {
  width: 30vw;
  background-color: #605c64;
  border: none;
  border-radius: 10px;

  padding: 0 5vw;
  margin: 5vh 50vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.label {
  margin-top: 2vh;
  font-family: 'Rubik', sans-serif;
  padding-left: 7px;
  border-bottom: solid white 2px;
  text-align: left;

  color: white;
  font-size: 2rem;
  font-weight: 500;
}

hr {
  width: 100%;
  color: white;
}

.input__form {
  display: flex;
  flex-direction: column;
  margin-top: 1vh;
  color: black;
}

.twin__input {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.line {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin: 0.7vh 0;
}

label {
  color: #e6f2f2;
  display: block;
  transform: translate(0, 5px);
}

.input__line {
  background: #e6f2f2;
  font-weight: 500;
  font-size: 1.1rem;
  border: 2px #002928 solid;
  border-radius: 5px;

  padding: 8px 15px;
  margin: 6px 0;

  -webkit-box-shadow: 3px 3px 7px 0px rgba(51,51,51,1);
  -moz-box-shadow: 3px 3px 7px 0px rgba(51,51,51,1);
  box-shadow: 3px 3px 7px 0px rgba(51,51,51,1);
}

.input__file {
  color: #daeaeb;

  font-size: 1.1rem;
  margin: 6px 0;

}

.twin {
  width: 85%;
}

.form__bottom {
  margin: 2vh 0 4vh 0;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
}

.submit__button {
  /* margin-top: 3vh; */
  background-color: white;
  width: 50%;
}

.link {
  color: #d5dede;
}
