<div class="content">
  <div class="auth__form">
    <p class="label">Авторизация</p>
    <div class="input__form">
      <div class="line">
        <label>*Логин</label>
        <input (keydown.enter)="autharization()" class="input__line" type="text" name="" [(ngModel)]="login" placeholder="">
      </div>

      <div class="line">
        <label>*Пароль</label>
        <input (keydown.enter)="autharization()" class="input__line" type="password" name="" [(ngModel)]="password" placeholder="">
      </div>
    </div>

    <div class="form__bottom">
      <button (click)="autharization()" mat-raised-button class="submit__button" >Авторизация</button>
      <a class="link" routerLink="/registration">Регистрация</a>
    </div>
  </div>
</div>
