body {
  margin: 0;
  padding: 0;
  border: 0;

  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Rubik', sans-serif;

  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.nav__bar {
  width: 90vw;
  height: 15vh;

  position: fixed;
  top: 0;

  background: #251c1c;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 5vw;

  z-index: 100;
}

.logo__container {
  display: flex;
  width: 163px;
  height: 65px;
  text-decoration: none;
  justify-content: center;
}

.logo__image {
  height: 100%;
  width: auto;
}

.logotext__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  color: white;
}

.container {
  display: flex;
  flex-direction: column;

  height: 100vh;
  background: #554853;

  /* padding: 0 5vw;
  margin-top: 15vh; */

  justify-content: center;
  align-items: center;
}

label {
  color: white;
  font-size: 3.5rem;
  font-weight: 500;
}


@media (max-width: 920px) {
  label {
    font-size: 2rem;
  }
}
