<div class="content">
  <div class="topic">
    <p class="topic__label">📃🔥 Лучшие статьи</p>
    <div class="previews__content">
      <app-element-preview *ngFor="let article of top['articles']"
          [element]="article">
        </app-element-preview>
    </div>
  </div>

  <div class="topic">
    <p class="topic__label">📢🔥 Лучшее на форуме</p>
    <div class="previews__content">
      <app-element-preview *ngFor="let post of top['posts']"
          [element]="post">
        </app-element-preview>
    </div>
  </div>
</div>
