<div class="content">
  <label>Главная</label>

  <div class="info__container">
    <p class="text">Есть интересный материал для статьи или обсужднения?</p>
    <button (click)="openPublicationPage()" mat-raised-button class="submit__button">Создайте статью или пост</button>
  </div>

  <div class="topics">
    <div class="topic">
      <p class="topic__label">📃🔥 Лучшие статьи</p>
      <div class="previews__content">
        <app-element-preview *ngFor="let article of top['articles']"
            [element]="article">
          </app-element-preview>
      </div>
    </div>

    <div class="topic">
      <p class="topic__label">📢🔥 Лучшее на форуме</p>
      <div class="previews__content">
        <app-element-preview *ngFor="let post of top['posts']"
            [element]="post">
          </app-element-preview>
      </div>
    </div>
  </div>
</div>
