body {
  background: #554853;
  background-image: url(/assets/background.svg);
  background-size: 450px 450px;
  
  margin: 0;
  padding: 0;
  border: 0;

  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Rubik', sans-serif;

  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button,
input,
a {
  outline: none;
}

.error.mat-snack-bar-container {
  background: red;
  color: white;
}

.valid.mat-snack-bar-container {
  background: #adc400;
  color: white;
}
