<nav class="nav__bar">
  <a class="logo__container" routerLink="">
    <img class="logo__image" src="assets/hacker.svg" alt="">
    <div class="logotext__container">
      <h1 class=logo__text>cyber</h1>
      <h1 class=logo__text>safe.ml</h1>
    </div>
  </a>

  <div class="links_container">
    <a class="link" routerLink="">Главная</a>
    <a class="link" routerLink="/forum">Форум</a>
    <a class="link" routerLink="/articles">Статьи</a>
  </div>

  <a class="account__form" routerLink={{user_picture_url}}>
    <img class="account__logo" src={{user_picture}} alt="Авторизация">
    <img *ngIf="online && user_picture == 'assets/person.svg'" class="online__mark" src="assets/online.svg" alt="">
  </a>

  <div class="search__form" action="search">
    <button (click)="search()" class="search__button" type="submit" [disabled]="!search_query"></button>
    <input (change)="search()" class="search__input" type="text" [(ngModel)]="search_query" >
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
</footer>
