/* You can add global styles to this file, and also import other style files */
.nav__bar {
  width: 90vw;
  height: 15vh;

  position: fixed;
  top: 0;

  background: #251c1c;
  /* background: rgb(4,30,31);
  background: linear-gradient(129deg, rgba(4,30,31,1) 0%, rgba(23,51,51,1) 44%, rgba(47,66,65,1) 100%); */

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 5vw;

  flex-wrap: wrap;

  z-index: 100;
}

.logo__container {
  display: flex;
  width: 163px;
  height: 65px;
  text-decoration: none;
  justify-content: center;
}

.logo__image {
  height: 100%;
  width: auto;
}

.logotext__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  color: white;
}

.links_container {
  width: 30%;

  display: flex;
  justify-content: space-between;

  min-width: 300px;
}

.link {
  font-weight: 500;
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

.link::after {
  content: "";
  display: block;
  position: relative;

  width: 0%;
  height: 2px;
  background: white;

  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;

  transition: width .3s;
}

.link:hover::after {
  width: 100%;
}

.search__form {
  min-width: 200px;

  background: #605c64;
  color: white;

  width: 20vw;
  height: 4vh;

  border: none;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding: 0 1vw;
}

.search__input {
  width: 100%;
  background: none;
  color: white;
  border: none;

  text-align: left;
  font-size: 1.2rem;

  padding-left: 5px;
  overflow: hidden;
}

.search__button {
  background: none;
  border: none;

  background-image: url("../assets/loupe.svg");
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;

  min-height: 85vh;
  background: #554853;

  padding: 0 5vw;
  margin-top: 15vh;
}

/* app-root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
} */

.footer {
  height: 10vh;
  background: #251c1c;
  /* background: rgb(4,30,31);
  background: linear-gradient(129deg, rgba(4,30,31,1) 0%, rgba(23,51,51,1) 44%, rgba(47,66,65,1) 100%); */
}

@media (max-width: 840px) {
  .link {
    font-size: 1rem;
  }

  .nav__bar {
    height: 30vh;
  }

  .logo__container {
    width: 100%;
  }

  .container {
    margin-top: 30vh;
    min-height: 70vh;
  }
}
