.text {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 2.3rem;
  color: white;

  margin: 0;
  margin-top: 1.5vh;
}

.text::after {
  position: relative;
  display: block;
  content: "";
  margin-top: 3px;

  height: 2px;
  background: white;
}

.filter__row {
  display: flex;
  flex-direction: row;
}

/* ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

li {
  font-size: 1rem;
} */

.article__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin: 3vh 0;
}

app-post-preview {
  background: #605c64;
  border: none;
  border-radius: 10px;
  margin: 2vh 2vh;
  width: 40vw;
}

@media (max-width: 1040px) and (min-width: 840px) {
  .text {
      font-size: 1.8rem;
  }
}

@media (max-width: 840px) {
  app-post-preview {
    width: 90%;
    margin: 1.5vh;
  }

  .text {
    font-size: 1rem;
  }
}
